*{
    font-family: "Poppins-Regular";
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #F4F2F3;
    /** background-attachment: fixed; -> FIXAR IMAGEM DE FUNDO**/
}

:root{
    --Cor-principal: var(#0D1721);
    --Cor-texto: var(#F4F2F3);
}


.container-cabecalho{
    min-width: 100vw;
    padding: 15px 0 5px 0;
    display: flex;
    justify-content: space-evenly;
    place-items: flex-start;
    background-color: #0D1721;
}

.logo-cabecalho{
    width: 70px;
}

.nome-cabecalho{
    color: #F4F2F3;
}

.logo-span{
    margin: 0 0 0 100px;
}

a{
    text-decoration: none;
    font-weight: bold;
    color:#F4F2F3;
}

span{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    place-items: center;
}

.ocultar-login{
    display: none;
}

.ocultar-deslogar{
    display: none;
}

.cabecalho-imagem{
    width: 50px;
    filter: invert(1);
    cursor: pointer;
}

.container-principal{
    display: flex;
    justify-content: left;
    min-width: 100vw;
}

.container-postagem{
    min-width: 55vw;
    max-height: 100vh;
    color: #0D1721;
    overflow-y: scroll;
    margin-bottom: 20px;
}

.container-perfil{
    min-width: 20vw;
    display: flex;
    flex-direction: column;
    place-items: center;
}

.container-perfil img{
    width: 140px;
    height: 140px;
    border-radius: 5px;
}

.container-perfil .deslogar-imagem{
    width: 80px;
    height: 80px;
    border-radius: 0;
    cursor: pointer;
    transition: 700ms ease-in-out;
}

.deslogar-imagem:hover{
    transform: scale(0.8);
}

h1{
    text-align: center;
    width: 100%;
    color: #0D1721;
    font-family: "Poppins-Bold";
}

.postagem{
    padding: 20px;
}

hr{
    border-color: #1e354d;
}

label{
    font-weight: bold;
    color: #0D1721;
    cursor: text;
}

.perfil-imagem{
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin: 0 15px 0 0;
    border-radius: 5px;
}

.postagem-btn{
    background-color: #0D1721;
    color: #F4F2F3;
    font-family: "Poppins-Medium";
    font-size: 1.3em;
    border-color: transparent;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: 700ms ease-in-out;
    opacity: 0.8;
}

.postagem-btn:hover{
    background-color: #1e354d;
    border-radius: 15px;
    color: #ffffff;
    opacity: 1;
}

.postagem-organizacao{
    justify-content: left;
    place-items: flex-start;
    display: flex;
    flex-direction: row;
}

.organizar-data{
    text-align: left;
}

.postagem-imagem-img{
    width: 400px;
    object-fit: cover;
}

.interacoes-postagens{
    display: flex;
    flex-direction: row;
    justify-content: left;
    place-items: center;
}

.like-imagem{
    width: 25px;
    cursor: pointer;
}

.deslike-imagem, .comentario-imagem, .denuncia-imagem{
    width: 25px;
    margin: 0 0 0 20px;
    cursor: pointer;
}

.container-em-alta{
    min-width: 25vw;
    display: flex;
    flex-direction: column;
    place-items: center;
}

.tema-alta-div{
    background-color: #0D1721;
    color: #F4F2F3;
    font-family: "Poppins-SemiBold";
    font-size: 1.3em;
    border-radius: 5px;
    min-width: 15vw;
    height: 5%;
    display: flex;
    justify-content: center;
    place-items: center;
    opacity: 0.8;
    cursor: pointer;
    box-shadow: #1e354d71 0 3px 5px 3px;
    transition: 700ms ease-in-out;
}

.tema-alta-div:hover{
    background-color: #1e354d;
    color: #ffffff;
    border-radius: 15px;
    opacity: 1;
}
